@page "/trackinsert"

@inject NavigationManager navigator

<h3 class="card-title">Details Of @Current.Name Track </h3>

<EditForm Model="@Current" OnValidSubmit="@HandleValidSubmit"
          OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />

    <ValidationSummary></ValidationSummary>
    <div class="form-group row">
        <label class="col-form-label"> Name </label>
        <input @bind-value="@Current.Name" class="form-control">
        <ValidationMessage For="@(() => Current.Name)" />

    </div>

    <div class="form-group row">
        <label class="col-form-label"> Description </label>
        <input @bind-value="@Current.Description" class="form-control">
        <ValidationMessage For="@(() => Current.Name)" />

    </div>
    <button type="submit" class="btn btn-primary">Insert Track</button>

</EditForm>